.main {
    width: 220px;
    max-height: 175px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    overflow-y: auto;

}

.main::-webkit-scrollbar {
    width: 5px;
    background-color: whitesmoke;
}


.del_button {
    margin-left: 30px;
    display: flex;
    justify-content: flex-end;
}

.task {
    width: 140px;
    margin-left: -40px;
    display: flex;
    justify-content: flex-start;
}

.flex {
    display: flex;
    padding-bottom: 12px;
}

.tasklist {
    width: 180px;
    display: flex;
    justify-content: flex-start;
}

button {
    margin-left: 10px;
}

.task li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}