.App {
    padding: 30px;
    display: flex;
    width: 220px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgrey;
    margin: 20px;
}

.App > div {
    margin-right: 50px;
}

button, input {
    cursor: pointer;
}
button {
    background-color: lavender;
}


.error {
    border: 1px solid red;
}

.error-message {
    color: red;
}

.active-filter {
    background-color: cornflowerblue;
    color: whitesmoke;
}

.is-done {
    opacity: 0.5;
    text-decoration: line-through;
}

.flex-row {
    display: flex;
}

.delTodoList {
    position: absolute;
    margin-left: 190px;
    margin-top: -15px;
    cursor: pointer;
}

.delTodoList button {
    width: 0px;
    height: 0px;
    font-size: 18px;
    color: darkgrey;
    font-weight: bold;
    border: none;
    background-color: transparent;
}

.newtodo {
    margin: 20px;
    position: relative;

}

